@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fc-daygrid-day-top {
  text-align: center;
}

.fc-theme-standard td, fc-event {
  border: 0
}

.fc-daygrid-day-number {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2e8f0;
  /*background-color:rgba(226, 232, 240, 0.4);*/
  background-color:rgba(241, 245, 249, 0);
}

.fc-col-header-cell-cushion {
  color: #0369a1;
  font-size: 0;
}

.fc-col-header-cell-cushion:first-letter {
  color: #0369a1;
  font-size: 16px;
}

.fc-header-toolbar {
  margin-top: 0.7rem !important;
  margin-bottom: 0.7rem !important;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin: 0;
  font-weight: bold;
  color: #0369a1;
}

.fc-scrollgrid-sync-table {
  /*background-color: #f1f5f9;*/
  background-color:rgba(241, 245, 249, 0);
}

.fc-scroller-harness {
  padding-bottom: 10px;
}

.fc-view-harness {
  /*background-color: #f1f5f9;*/
  background-color:rgba(241, 245, 249, 0.2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.fc-theme-standard th {
  border: 0
}

.fc-daygrid-event {
  border: 0
}

.fc .fc-daygrid-day.fc-day-today {
  /*background-color: #f1f5f9;*/
  background-color:rgba(241, 245, 249, 0);
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number{
  background-color: #bae6fd;
  font-weight: 600;
  color: #0369a1;
}

.fc-event-time {
  display: none;
}

.fc-theme-standard .fc-scrollgrid {
  padding: 10px;
  border: solid 3px #0369a1;
  border-bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.spinner {
  animation: spin infinite 1s linear;

  /*You can increase or decrease the timer (5s) to
   increase or decrease the speed of the spinner*/
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}